<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/nike_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/nike_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoeApp"
        tools:targetApi="31">
        <activity
            android:name=".Admin.PaymentTableActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.ColorTableActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.TableSizeActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.SizeTableActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.CustomerTableActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.CategoryAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".FavouriteActivity"
            android:exported="false" />
        <activity
            android:name=".CheckoutActivity"
            android:exported="true" />
        <activity
            android:name=".MyCartActivity"
            android:exported="true" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".MyOrderActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>